* {
    box-sizing: border-box;
    text-align: center;
    font-size: 26px;
}

h1 {
    font-size: 2em;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    min-width: 500px;
    margin: 20px auto;
    padding: 15px;
    display: flex;
    flex-direction: column;  
    background-color: #f3d3ae;
}

